*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.card::selection{
    background-color: crimson;
    color: #fff;
}

body{
    background-color: #f2f2f2;
}

.card{
    width: 300px;
    margin: 40px auto;
    background-color: #fff;
    padding:20px;
    box-shadow: -20px 20px 0 0 crimson;
    border-radius: 10px;

}

.card__title{
    text-align: center;
    margin-bottom: 10px; 
}

.card__title::before,
.card__title::after{
    content: "";
    width: 40%;
    height:3px;
    display:inline-block;
    background-color: crimson;
    margin-bottom: 5px;
}

ul{
    counter-reset: contador;
}

li{
    list-style: none;
    margin-top: 10px;
}

li::before{
    content: counter(contador);
    counter-increment: contador;
    background-color: crimson;
    width: 30px;
    height: 30px;
    color: white;
    display:inline-block;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    margin-right: 4px;
}

/* p::first-line{
    color:crimson;
} */

p::first-letter{
    color:crimson;
    font-weight: bold;
    font-size: 2rem;
}

