*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.card::selection{
    background-color: crimson;
    color: #fff;
}

body{
    background-color: #f2f2f2;
}

.card{
    width: 300px;
    margin: 40px auto;
    background-color: #fff;
    padding:20px;
    box-shadow: -20px 20px 0 0 crimson;
    border-radius: 10px;

}

.card__title{
    text-align: center;
    margin-bottom: 10px; 
}

li{
    list-style: none;
}