*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button{
    background-color: blueviolet;
    width: 100px;
    height: 50px;
    font-size: 16px;
    color: white;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 10px;
}

button:hover{
    background-color: pink;
    color: white;
    border: 1px solid pink;
}

.target{
    color: black;
    background-color: aliceblue;
    font-size: 20px;
    margin-top: 30px;
    margin-left:20px;
}

#new {
    display: none;
}

#new:target{
    display: block;
    color: pink;
    font-style: italic;
}

.box{
    border: 1px solid red;
    background-color: red;
    display: inline-block;
    font-size: 50px;
    margin-left: 10px;
    margin-top: 30px;
    border-radius: 10px;
}
.box:first-child{
    color: white;
}
.formulario{
    margin-left: 20px;
    margin-top: 20px;
}
input{
    margin-top: 10px;
}
/* 
input:valid{
    background-color: chartreuse;
}

input:invalid{
    background-color: red;
} */
form{
    margin-left: 50px;
}

#mail:only-of-type{
    background-color: aqua;
}