*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root{
    --color:purple;
    --margin:30px;
}

body{
    height:300vh;
}

.container{
    width: 450px;
    height: 530px;
    margin:var(--margin) auto;
    border: 5px solid var(--color);
    position: relative;
}

.box{
    background-color: steelblue;
    width: 100px;
    height: 100px;
    margin-top: var(--margin);
    margin-left: var(--margin);
    text-align: center;
    line-height: 100px;
    font-weight: bold;
    color:white;
}

.static{
    position: static;
}

.relative{
    position: relative;
    background-color: var(--color);
    /* top: 20px;
    margin-top: 0;    
    left: 100px;
    bottom: 100px; */
}

/* .absolute{
    position: absolute;
     top: 0; 
    right: 0;
    bottom: 0; 
}  */

.fixed{
    position: fixed;
    top: 40px;
    z-index: -1;
    /* bottom: 0;
    right: 0;
    border-radius: 50%;
    margin-bottom: 20px;
    margin-right: 20px; */
    
}